
@keyframes fly {
    0% {
      top: 13%;
    }
    // 15%{
    //     transform: translateX(-20%);

    // }
    25% {
      top: 23%;
    }
    // 40%{
    //     transform: translateX(10%);

    // }
  
    50% {
      top: 13%;
    }
    // 60%{
    //     transform: translateX(-20%);

    // }
    75% {
      top: 23%;

    }
  
    100% {
      top: 13%;
      transform: translateX(0px);

    }
  }
  @keyframes size {
    0% {
      width: 5px;
      height: 5px;
    }
    25% {
      width:5px;
      height:5px;
    }
    50% {
      width: 2px;
      height: 2px;
    }
    75% { 
      width:5px;
      height:5px;
    }
  
    100% {
      width: 2px;
      height: 2px;
    }
  }
  
.bfly1{
    position: absolute;
    left: 63%;
    top: 13%;
}
.bfly0{
    animation: fly 10s infinite;
}
.hero-img{
  position: relative;
}
.sparkle1{
  position: absolute;
  left: -10px;
  transform: rotate(-45deg);
  width:2px;
  height: 2px;
  background-color: #ffffff;
  animation: size 10s infinite;

}

.sparkle2{
  position: absolute;
  left: -5px;
  transform: rotate(-45deg);
  width:5px;
  height: 5px;
  background-color: #ffffff;
}
.sparkle3{
  position: absolute;
  top: 6px;
    left: -1px;
  transform: rotate(-45deg);
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}
