/*=============== BREAKPOINTS ===============*/
/* For small devices */
// @media screen and (max-width: 350px){
   
// }

// @media screen and (max-width: 320px){
  
// }
@media screen and (max-width: 550px){
  body {
    background-position: 50% 300px;
  }
  .player-btn:hover{
    transform: none;
}
  .hero-wrapper{
    width: 250px !important;
    
  }
  .hero-img{
    width: 200px !important;
    height: 200px !important;
    background-size: 200px;
    background-position: 0 90% !important;
  }
  .ray{
    display: none;
  }
  .hero-music-cont{
    top: 40% !important;
  }
  .player-btn{
    width: 56px !important;
    height:56px !important;
    
    ion-icon{
      font-size: 2rem !important;
    }
    .player-play {
      padding-left: .1rem;
    }
  }
  .playl{
    width: 75%;
    height: 100%;

}
  .play-single {
    width: 100%;
    height: 2.5rem;
    display: flex;
    padding-right: 2rem;
    justify-content: center;
    .flower{
        position: relative;
        width: 50px;
        height: 100%;
        background-image: url("img/sunflower-2041px-2041px.png");
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat;
      
      }
    .title-cont{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // gap: 1rem;

        .title {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: italic;
            font-size: 2rem;
            text-align: center;
        }


    }
}

}

// @media screen and (min-width: 767px){

// }


// @media screen and (min-width: 1040px){
  
// }

/* For 2K & 4K resolutions */
// @media screen and (min-width: 2048px){
//     body{
//         zoom: 1.5;
//     }
// }
// @media screen and (min-width: 3840px){
//     body{
//         zoom: 2;
//     }
// }